	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	

	<h2 class="">The search criteria that you provided returned no flights. </h2>
	<h3><%= link_to 'Go back', :back %> and try again.</h3>
	
	<br>
	<br>
	<br>
	<br>
	<br>