<footer class="footer">
  <small>
    For any questions <a href="mailto:ardihamza@gmail.com">send an Email</a>.
  </small>
  <nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Help", help_path %></li>
		</ul> 
	</nav>
</footer>